<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
<head>
    <meta charset="UTF-8">
    <title>Expenses control</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
<div layout:fragment="main_content">
    <div class="container-fluid">
        <h2 class="text-dark mb-3">Welcome <span th:text="${#authentication.principal.username}"
                                                      id="username"></span><a class="link active" th:href="@{'/to-exit'}"> Exit</a></h2>
        <a class="link active" th:href="@{'/calendarview'}">Monthly</a>

        <div class="input-group mb-3 mt-3">
            <input type="date" style="width: 20%;" class="form-control fs-2" id="date">
            <input type="text" style="width: 40%;" class="form-control  fs-2" placeholder="Expense" id="costname">
            <input type="number" style="width: 25%;" class="form-control  fs-2" placeholder="Amount" aria-describedby="button" id="cost">
            <button onclick="addRecord()" style="width: 15%;" class="btn btn-outline-secondary btn-success text-dark fs-2" type="button" id="button">Add</button>
        </div>
        <div style="height: 1300px; overflow: auto">
            <table class="table text-dark">
                <thead>
                <tr>
                    <th scope="col" class="col-3">Date</th>
                    <th scope="col" class="col-6">Expenses</th>
                    <th scope="col" class="col-2">Amount</th>
                    <th scope="col" class="col-1"></th>
                </tr>
                </thead>
                <tbody id="table">
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById('date').valueAsDate = new Date();
        window.addEventListener("load", getRecords)
        document.getElementById("date").addEventListener('input', getRecords)
        function getRecords() {
            const request = new XMLHttpRequest();
            request.open("POST", "/getrecords", true);
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            request.send(JSON.stringify({
                "date": date.value,
                "username": username.innerText,
            }));
            request.onreadystatechange = function () {
                if (request.readyState === request.DONE) {
                    if (request.status === 200) {
                        let reply = JSON.parse(request.responseText)
                        table.innerHTML = ""
                        let sum=0
                        reply.forEach((e) => {
                            table.innerHTML += `<tr><td> ${e.date} </td>
                                                <td> ${e.costname} </td>
                                                <td> ${e.cost} </td>
                                                <td><button onclick="delRecord(${e.id})" type="button" style="width: auto;" class="btn-close" aria-label="Close"></button></td></tr>`
                            sum+=e.cost
                        })
                        table.innerHTML += `<tr><td><strong>Total</strong></td>
                                                <td>  </td>
                                                <td><strong>`+sum+`</strong></td></tr>`
                    }
                }
            }
        }

        function addRecord() {
                const request = new XMLHttpRequest();
                request.open("POST", "/addrecord", true);
                request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                request.send(JSON.stringify({
                    "date": date.value,
                    "username": username.innerText,
                    "costname": costname.value,
                    "cost": cost.value
                }));
                request.onreadystatechange = function () {
                    if (request.readyState === request.DONE) {
                        if (request.status === 200) {
                            getRecords()
                            costname.value=""
                            cost.value=""
                        }
                    }
                }
        }
        function delRecord(id) {
            const request = new XMLHttpRequest();
            request.open("POST", "/delrecord", true);
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            request.send(id);
            request.onreadystatechange = function () {
                if (request.readyState === request.DONE) {
                    if (request.status === 200) {
                        getRecords()
                    }
                }
            }
        }
    </script>
</div>
</body>
</html>